
body {
    background: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.toptal.com%2Fdesigners%2Fsubtlepatterns%2Fpatterns%2Fconcrete_seamless.png&imgrefurl=https%3A%2F%2Fwww.toptal.com%2Fdesigners%2Fsubtlepatterns%2Fconcrete-seamless%2F&docid=dIvpXbpxA44lKM&tbnid=2IEvi8Tzne-vFM%3A&vet=10ahUKEwjDyP2is5DjAhWRcc0KHeRrBJ4QMwgrKAAwAA..i&w=400&h=400&bih=722&biw=1536&q=seamless%20concrete%20gray%20.png&ved=0ahUKEwjDyP2is5DjAhWRcc0KHeRrBJ4QMwgrKAAwAA&iact=mrc&uact=8../images/concrete_seamless.png');
    font-size: 18px; 
    line-height: 34px;
     font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     color: #7777;
    }

.container {width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    }
    
    h1, h2, h3, p {
        margin-bottom: 20px;
    } 
    
    p:last-child { 
        margin-bottom: 0;
    }
    
    h1, h2, h3 { 
        font-family: 'Georgia', Times, Times New Roman, serif;
      font-weight: 700;
      color: #4aaaa5;}
  
      h1 {
          font-size: 30px;
          line-height: 49px;
          border-bottom: 3px solid #dddddd;;
          padding-bottom:20px;
      }
      h2, h3 {font-size: 22px; 
      }
  

    /* z index specifies the stack order relative to the parent */

    #navline {
        background: #ffffff;
        margin: 0 0 30px;
        z-index: 100;
        color:  #ffffff;
        overflow: auto;
        border-bottom: 2px solid #cccccc;
        width: 100%;}
       

#yourname {
    width: 250px;  
    height: 90px;
    background: #4aaaa5; 
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    line-height: 90px;
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
}
 
nav {float: right;
    margin-top: 25px;
    }

    /* text decoration none makes sure the html link is removed from display. Inline block makes it so the links do not stach up on one another  */
nav a {color: #9999;
  text-decoration: none;
    margin-left: 15px; 
    display: inline-block;
    border-left: 1px solid #efefef;
    padding-left: 15px;
    line-height: 18px;
}    
/* makes sure there is no line on the first link in navigation screen */
nav a :first-child {
    border-left: 0 none;}

#main-bio {
    padding-top: 130px;}

.header {background: #ffffff;
padding: 30px;
margin: 0 0 40 0;
width: 100%;;
max-width: 960px;
border: 1px solid #dddddd;
}
.auth-image {
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;}

h3, h2 {border-bottom: 2px solid #eeeeee;
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;}

 footer {background: #666666;
        color: #ffffff;
        padding: 30px;
        clear: both;
        border-top: 8px solid #444445;
        color: #cccc;
        font-size: 12px;
        text-align: center;}
